*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}


.App, #root{
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #747474;
}
::-webkit-scrollbar-corner {
    background: #f6f6f6;
}
